.entry {
    padding: 10px;   
    width:70%;
    margin: auto;
    position: relative;
}

.entry-wrapper {
    display: flex;
    width: 100%;
}

.entry-wrapper-head span {
    display: flex;
    padding: 10px 0;
    flex: 1;
}

.entry-wrapper-head span:nth-child(3), .entry-wrapper-head span:nth-child(4) {
    max-width: 72px;
}

.entry-head {
    display: flex;
    padding: 0 14px;
    background: black;
    color: #fff;
}

.entry-head select {
  background: none;
  color: #fff;
  padding: 14px 0;
  border: none;
  width: 100%;
}

input[name="season"], input[name="episode"] {
    max-width:60px;
}

input {
    border: none;
    display: flex;
    flex: 1;
    padding: 6px;
}

body, html {
    padding-top:20px;
    background: #e1e1e1;
}

button {
    margin: auto;
    display: block;
    width: 70%;
    border: none;
    padding: 10px;
    margin-top: 10px;
    background: #2196f3;
    color: #fff;
}

button:hover {
    background: #1a7ac6;
    cursor: pointer;
}

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  right: -13px;
  top: 0px;
  z-index: 100;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.field-disabled {
  opacity: 0.5;
}

.verify {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  background: #000000b5;
}

.verify div {
  top: 0;
  display: block;
  width: max-content;
  margin: auto;
  text-align: center;
  padding: 22px 50px;
  background: #ffffffd1;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: max-content;
}

.verify div button {
  display: inline-block;
  margin: auto;
  width: unset;
}

.verify div button:last-of-type {
  margin-left: 10px;
}

.verify-hidden {
  display: none;
}

#main .f {
  padding-bottom: 42px;
}

.entry-duplicate .entry-head select {
  width: calc(75% - 14px);
}

.entry-duplicate .entry-head span {
  font-size: 11px;
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  margin: auto;
  height: max-content;
  width: 25%;
}

.entry-duplicate .entry-head {
  position: relative;
  background: #940000!important;
}